======================================================

NODE.JS

======================================================

node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log

=======================================================

ENVIROMENT VARIABLES

=======================================================

.env
.env.*
app/.env
app/.env.*

========================================================

DOCKER

========================================================

*.log

========================================================

TERRAFORM

========================================================

.terraform/
.terraform.lock.hcl
*.tfstate
.tfstate.
crash.log
override.tf
override.tf.json
._override.tf
._override.tf.json

==========================================================

GITHUB ACTIONS (LOCAL)

==========================================================

.act/

==========================================================

OS / EDITOR

==========================================================

.DS_Store
Thumbs.db
.Vscode/
.idea/
EOF